{% set selected_tab = "builds" %}
{% extends "_base.html" %}

{% block content %}
<article>
    <header>
        <nav class="builds" aria-label="breadcrumb">
            <ul>
                <li><a href="{{ BASE_URL }}builds/">Builds</a></li>
                <li>7 Hero Beginner Build</li>
            </ul>
        </nav>
    </header>

    <h4>Introduction</h4>

    <p>This is a build for players with brand new accounts. It is meant to be played in the Nightfall campaign. The
        original build can be found <a target="_blank" rel="noopener noreferrer"
            href="https://gwpvx.fandom.com/wiki/Build:Team_-_7_Hero_Beginner_Team">here</a>.
    </p>

    <h4>Build Overview</h4>

    <table class="build">
        <thead>
            <th>Hero</th>
            <th>Template Code</th>
        </thead>
        <tbody>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-elementalist.png">/<img
                        src="{{ BASE_URL }}assets/images/icon-mesmer.png"> Acolyte
                    Sousuke</td>
                <td>
                    {% with TEMPLATE_CODE="OgVTI4xysRAgTNdTvcQGgIoBA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-elementalist.png">/<img
                        src="{{ BASE_URL }}assets/images/icon-mesmer.png"> Vekk
                </td>
                <td>
                    {% with TEMPLATE_CODE="OgVTI4xysRAgTNdTvcQGgIoBA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-dervish.png">/<img
                        src="{{ BASE_URL }}assets/images/icon-mesmer.png"> Melonni</td>
                <td>
                    {% with TEMPLATE_CODE="OgWjIwDLrNDBcqpb6lDyAEBNA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-mesmer.png">/<img
                        src="{{ BASE_URL }}assets/images/icon-monk.png"> Gwen</td>
                <td>
                    {% with TEMPLATE_CODE="OQNTAUBPwZIgTNdTvcQGgIETA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-necromancer.png">/<img
                        src="{{ BASE_URL }}assets/images/icon-mesmer.png"> Olias
                </td>
                <td>
                    {% with TEMPLATE_CODE="OAVTI0CbQqK4oy0BNIHoqaLUAA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-monk.png">/<img
                        src="{{ BASE_URL }}assets/images/icon-mesmer.png"> Tahlkora</td>
                <td>
                    {% with TEMPLATE_CODE="OwUUMwG/OIS3NNg1DBE3VVETfZAA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-monk.png">/<img
                        src="{{ BASE_URL }}assets/images/icon-mesmer.png"> Dunkoro</td>
                <td>
                    {% with TEMPLATE_CODE="OwUUMwG/OIS3NNg1DBE3VZETfZAA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
        </tbody>
    </table>

    <h4>Preparation</h4>

    <p>You have to ascend in order to be able to change your <a
            href="https://wiki.guildwars.com/wiki/Profession#Secondary_profession">secondary profession</a>, which is
        required to purchase skills
        for heroes not matching your initial profession combination.</p>

    <h4>Unlocking Heroes</h4>

    <p>Nightfall Heroes</p>
    <ul>
        <li>Dunkoro, Tahlkora, Melonni: Follow the primary quests of the Nightfall campaign to unlock these heroes.</li>
        <li>Acolyte Sousuke: Follow the primary quests until you have completed Bad Tide Rising. Talk to Field General
            Hayao in Sun Docks and accept the quest Zaishen Elite. Complete it, then choose the quest Student Sousuke
            afterwards. Upon completion, Acolyte Sousuke will be unlocked.</li>
        <li>Olias: Follow the primary quests until you can access Consulate Docks. Talk to Dinja and accept the quest
            All for One and One for Justice. Upon completion, Olias will be unlocked.</li>
    </ul>

    <p>Eye of the North Heroes</p>
    <ul>
        <li>Vekk (and Ogden): Talk to Bendah in Kamadan and accept the quest Hole of Istan. Upon reaching Boreal
            Station, Vekk (and Ogden) will be unlocked.</li>
        <li>Gwen: Follow the primary quest Against the Destroyers and travel to the Eye of the North. If you are not max
            level, use the level 20 henchmen in Boreal Station as help. Upon watching The First Vision for the first
            time, Gwen will be unlocked.</li>
    </ul>

    <h4>Purchasing Skills</h4>

    <table>
        <tbody>
            <tr>
                <td class="grid">
                    <div>
                        <h4><u>Factions</u></h4>
                        <p class="hlist">Michiko (Kaineng Center)</p>
                        <ul>
                            <li>Aegis</li>
                            <li>Signet of Rejuvenation</li>
                            <li>Shatter Hex</li>
                            <li>Unnatural Signet</li>
                        </ul>
                    </div>
                    <div>
                        <h4><u>Nightfall</u></h4>
                        <p class="hlist">Pikin (Kamadan)</p>
                        <ul>
                            <li>Signet of Lost Souls (hero skill point)</li>
                        </ul>
                        <p class="hlist">Shiloh (Sunspear Great Hall)</p>
                        <ul>
                            <li>Animate Shambling Horror (hero skill point)</li>
                        </ul>
                        <p class="hlist">Medando (Yohlon Haven)</p>
                        <ul>
                            <li>Mistrust</li>
                            <li>Spiritual Pain</li>
                        </ul>
                    </div>
                    <div>
                        <h4><u>Eye of the North</u></h4>
                        <p class="hlist">Micah Fergson (Eye of the North)</p>
                        <ul>
                            <li>Cure Hex</li>
                            <li>Patient Spirit</li>
                            <li>Masochism</li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</article>
{% endblock %}