{% set selected_tab = "builds" %}
{% extends "_base.html" %}

{% block content %}
<article>
    <header>
        <nav class="builds" aria-label="breadcrumb">
            <ul>
                <li><a href="{{ BASE_URL }}builds/">Builds</a></li>
                <li>Spirit Spammer</li>
            </ul>
        </nav>
    </header>

    <h4>Introduction</h4>

    <p>This is a great farming build that can be used on all classes. For more information on how and where to farm you
        can check out <a target="_blank" rel="noopener noreferrer"
            href="https://www.youtube.com/watch?v=0aAQk9icBwc">this video</a> by Péter Kádár.
    </p>

    <h4>Build Overview</h4>

    {% with tc_data = decode_gw1_template("OACjAqiMJSVTAAlT+gfTnNQTAAA", "Starter") %}
    {% include "_template_code_card.html" %}
    {% endwith %}

    {% with tc_data = decode_gw1_template("OACjAqiMJSVTXTlT+gfTnNQTDgA", "End Game") %}
    {% include "_template_code_card.html" %}
    {% endwith %}

    <h4>Unlocking Skills</h4>

    <p>To unlock the skills on a new account, start a new Factions Ritualist character and proceed with the campaign
        until you get to <a target="_blank" rel="noopener noreferrer"
            href="https://wiki.guildwars.com/wiki/Kaineng_Center">Kaineng Center</a>. (Once you reach <a target="_blank"
            rel="noopener noreferrer" href="https://wiki.guildwars.com/wiki/The_Marketplace">The Marketplace</a> you can
        simply follow the western
        coastline north across <a target="_blank" rel="noopener noreferrer" href="https://wiki.guildwars.com/wiki/Bukdek_Byway">Bukdek Byway</a>.)</p>

    <p>Once in Kaineng Center, go to the Skill Trainer and purchace the following skills (remember to save skill points
        for this while leveling):</p>

    <ul>
        <li>Painful Bond</li>
        <li>Pain</li>
        <li>Shadow Song</li>
        <li>BloodSong</li>
        <li>Armor of Unfeeling</li>
        <li>Spirit Siphon</li>
    </ul>

    <p>Vampirism can be obtained from <a target="_blank" rel="noopener noreferrer"
            href="https://wiki.guildwars.com/wiki/Pikin">Pikin</a> in Kamadan. All you need is rank one in the Sun Spear
        title.</p>

    <p>With only these skills the build is already pretty powerful.</p>

    <p>Later you can add Signet of Spirits and Summon Spirits to the build as well.</p>

    <h4>Template Codes for All Classes</h4>

    <table class="build">
        <thead>
            <th>Class</th>
            <th>Template Code</th>
        </thead>
        <tbody>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-warrior.png">/<img
                        src="{{ BASE_URL }}assets/images/icon-ritualist.png"> Warrior
                </td>
                <td>
                    {% with template_code="OQgiAyiMVNdNVOd24DCNRDyMBA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-ranger.png">/<img
                        src="{{ BASE_URL }}assets/images/icon-ritualist.png"> Ranger
                </td>
                <td>
                    {% with template_code="OggjcNgsITVTXTlT+gfTnNQTDgA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-monk.png">/<img
                        src="{{ BASE_URL }}assets/images/icon-ritualist.png"> Monk</td>
                <td>
                    {% with template_code="OwgiAyiMVNdNVO5De28NBNRDCA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-necromancer.png">/<img
                        src="{{ BASE_URL }}assets/images/icon-ritualist.png"> Necromancer</td>
                <td>
                    {% with template_code="OAhjYMgsITVTXTlT+gnNfTQT0gA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-mesmer.png">/<img
                        src="{{ BASE_URL }}assets/images/icon-ritualist.png"> Mesmer
                </td>
                <td>
                    {% with template_code="OQhiAyiMVNdNVO5D+Nd2ANRDCA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-monk.png">/<img
                        src="{{ BASE_URL }}assets/images/icon-elementalist.png"> Elementalist</td>
                <td>
                    {% with template_code="OghjwMgsITVTXTlT+gfTnNQT0gA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-assassin.png">/<img
                        src="{{ BASE_URL }}assets/images/icon-ritualist.png"> Assissin</td>
                <td>
                    {% with template_code="OwhiAyiMVNdNVO5D+Nd2ANNACA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-ritualist.png"> Ritualist</td>
                <td>
                    {% with template_code="OACjAqiMJSVTXTlT+gfTnNQTDgA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-paragon.png">/<img
                        src="{{ BASE_URL }}assets/images/icon-ritualist.png"> Paragon</td>
                <td>
                    {% with template_code="OQiiAyiMVNdNVOd24DCNxMRDCA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-dervish.png">/<img
                        src="{{ BASE_URL }}assets/images/icon-ritualist.png"> Dervish</td>
                <td>
                    {% with template_code="OgiiAyiMVNdNVO5D+Nd2ANNACA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
        </tbody>
    </table>
</article>
{% endblock %}