{% set selected_tab = "builds" %}
{% extends "_base.html" %}

{% block content %}
<article>
    <header>
        <nav class="builds" aria-label="breadcrumb">
            <ul>
                <li><a href="{{ BASE_URL }}builds/">Builds</a></li>
                <li>Spirit Spammer</li>
            </ul>
        </nav>
    </header>

    <h4>Introduction</h4>

    <p>This is a great farming build that can be used on all classes. For more information on how and where to farm you
        can check out <a target="_blank" rel="noopener noreferrer"
            href="https://www.youtube.com/watch?v=0aAQk9icBwc">this video</a> by Péter Kádár.
    </p>

    <h4>Build Overview</h4>

    <table class="build">
        <thead>
            <th>Class</th>
            <th>Template Code</th>
        </thead>
        <tbody>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-warrior.png">/<img
                        src="{{ BASE_URL }}assets/images/icon-ritualist.png"> Warrior
                </td>
                <td>
                    {% with template_code="OQgiAyiMVNdNVOd24DCNRDyMBA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-ranger.png">/<img
                        src="{{ BASE_URL }}assets/images/icon-ritualist.png"> Ranger
                </td>
                <td>
                    {% with template_code="OggiAyiMVNdNVOd24DCNRDyMBA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-monk.png">/<img
                        src="{{ BASE_URL }}assets/images/icon-ritualist.png"> Monk</td>
                <td>
                    {% with template_code="OwgiAyiMVNdNVOd24DCNRDyMBA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-necromancer.png">/<img
                        src="{{ BASE_URL }}assets/images/icon-ritualist.png"> Necromancer</td>
                <td>
                    {% with template_code="OAhiAyiMVNdNVOd24DCNRDyMBA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-mesmer.png">/<img
                        src="{{ BASE_URL }}assets/images/icon-ritualist.png"> Mesmer
                </td>
                <td>
                    {% with template_code="OQhiAyiMVNdNVOd24DCNRDyMBA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-monk.png">/<img
                        src="{{ BASE_URL }}assets/images/icon-elementalist.png"> Elementalist</td>
                <td>
                    {% with template_code="OghiAyiMVNdNVOd24DCNRDyMBA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-assassin.png">/<img
                        src="{{ BASE_URL }}assets/images/icon-ritualist.png"> Assissin</td>
                <td>
                    {% with template_code="OwhiAyiMVNdNVOd24DCNRDyMBA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-ritualist.png"> Ritualist</td>
                <td>
                    {% with template_code="OACQQVTXTlTnN+gQT0gMTA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-paragon.png">/<img
                        src="{{ BASE_URL }}assets/images/icon-ritualist.png"> Paragon</td>
                <td>
                    {% with template_code="OQiiAyiMVNdNVOd24DCNRDyMBA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-dervish.png">/<img
                        src="{{ BASE_URL }}assets/images/icon-ritualist.png"> Dervish</td>
                <td>
                    {% with template_code="OgiiAyiMVNdNVOd24DCNRDyMBA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
        </tbody>
    </table>
</article>
{% endblock %}