{% set selected_tab = "home" %}
{% extends "_base.html" %}

{% block content %}
<article>
    <p>Welcome!!!</p>

    <p>We are working towards collecting NPCs for our new Guild Hall!</p>

    <br />

    <article class="om-card">
        <h6>Guild Hall NPC Progress</h6>
        <table>
            <thead>
                <tr>
                    <th>Service</th>
                    <th>Cost</th>
                    <th><i class="bi bi-clipboard2-check"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Xunlai Agent</td>
                    <td class="platinum">10<img class="platinum" src="{{ BASE_URL }}assets/images/platinum.png"></td>
                    <td><ins><i class="bi bi-check2"></i><ins></td>
                </tr>
                <tr>
                    <td>Merchant</td>
                    <td class="platinum">25<img class="platinum" src="{{ BASE_URL }}assets/images/platinum.png"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Weaponsmith</td>
                    <td class="platinum">10<img class="platinum" src="{{ BASE_URL }}assets/images/platinum.png"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Rune Trader</td>
                    <td class="platinum">25<img class="platinum" src="{{ BASE_URL }}assets/images/platinum.png"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Crafting Material Trader</td>
                    <td class="platinum">100<img class="platinum" src="{{ BASE_URL }}assets/images/platinum.png"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Rare Material Trader</td>
                    <td class="platinum">100<img class="platinum" src="{{ BASE_URL }}assets/images/platinum.png"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Dye Trader</td>
                    <td class="platinum">50<img class="platinum" src="{{ BASE_URL }}assets/images/platinum.png"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Skill Trainer</td>
                    <td class="platinum">100<img class="platinum" src="{{ BASE_URL }}assets/images/platinum.png"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Scroll Trader</td>
                    <td class="platinum">50<img class="platinum" src="{{ BASE_URL }}assets/images/platinum.png"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Festival Hat Keeper</td>
                    <td class="platinum">10<img class="platinum" src="{{ BASE_URL }}assets/images/platinum.png"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Priest of Balthazar</td>
                    <td class="platinum">10<img class="platinum" src="{{ BASE_URL }}assets/images/platinum.png"></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </article>

</article>
{% endblock %}