{% set selected_tab = "home" %}
{% extends "_base.html" %}

{% block content %}
<div class="grid">
    <div>
        <article>
            <p>Welcome!!!</p>

            <p>We are working towards our goal for a Guild Hall!</p>

            <br />

            <article class="om-card">
                <h6>Guild Hall Progress</h6>
                <progress value="560" max="1500"></progress>
                <p><ins>560</ins> / 1500 Copper Zaishen Coins</p>
            </article>

        </article>
    </div>
    <div>
        <article>
            <header><i class="bi bi-link-45deg"></i> Links</header>
            <ul>
                <li>
                    <a target="_blank" rel="noopener noreferrer" href="https://gwpvx.fandom.com/wiki/PvX_wiki">
                        PvX Wiki
                    </a>
                </li>
                <li>
                    <a target="_blank" rel="noopener noreferrer" href="https://wiki.guildwars.com/">
                        Guild Wars Wiki
                    </a>
                </li>
                <br />
                <li>
                    <a target="_blank" rel="noopener noreferrer" href="https://kamadan.gwtoolbox.com/">
                        Kamadan Trade Chat
                    </a>
                </li>
                <li>
                    <a target="_blank" rel="noopener noreferrer" href="https://ascalon.gwtoolbox.com/">
                        Ascalon Trade Chat
                    </a> (pre-searing)
                </li>
                <br />
                <li>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.thatshaman.com/tools/gw1map">
                        Interactive Map
                    </a>
                </li>
            </ul>
        </article>
    </div>
</div>
{% endblock %}