{% set selected_tab = "builds" %}
{% extends "_base.html" %}

{% block content %}
<article>
    <header>
        <nav class="builds" aria-label="breadcrumb">
            <ul>
                <li><a href="{{ BASE_URL }}builds/">Builds</a></li>
                <li>Presearing - Devona Minnion Master</li>
            </ul>
        </nav>
    </header>

    <h4>Introduction</h4>

    <p>
        Turning Devona into a minion master is great for presearing. Between her and the imp you basically have a full party.
    </p>

    <h4>Build Overview</h4>

    <table class="build">
        <thead>
            <th>Hero</th>
            <th>Template Code</th>
        </thead>
        <tbody>
            <tr>
                <td><img src="{{ BASE_URL }}assets/images/icon-warrior.png">/<img
                        src="{{ BASE_URL }}assets/images/icon-necromancer.png"> Devona
                </td>
                <td>
                    {% with TEMPLATE_CODE="OQQSU4DPVhjKVAPYHqqBABA" %}
                    {% include "_template_code.html" %}
                    {% endwith %}
                </td>
            </tr>
        </tbody>
    </table>
</article>
{% endblock %}