{% set selected_tab = "builds" %}
{% extends "_base.html" %}

{% block content %}
<article>
    <header>
        <nav class="builds" aria-label="breadcrumb">
            <ul>
                <li>Builds</li>
            </ul>
        </nav>
    </header>

    <ul>
        <li>
            <a href="{{ BASE_URL }}builds/7_hero_beginner_build/">7 Hero Beginner Build</a>
        </li>
        <li>
            <a href="{{ BASE_URL }}builds/7_hero_leveling_build/">7 Hero Leveling Build</a>
        </li>
        <li>
            <a href="{{ BASE_URL }}builds/7_hero_mesmer_way_melee_players/">7 Hero Mesmer Way (Melee Players)</a>
        </li>
        <li>
            <a href="{{ BASE_URL }}builds/7_hero_mesmer_way_caster_players/">7 Hero Mesmer Way (Caster Players)</a>
        </li>
        <li>
            <a href="{{ BASE_URL }}builds/presearing_devona_spirit_spammer/">Presearing - Devona Spirit Spammer</a>
        </li>
        <li>
            <a href="{{ BASE_URL }}builds/spirit_spammer/">Spirit Spammer</a>
        </li>
    </ul>
</article>
{% endblock %}