{% set selected_tab = "builds" %}
{% extends "_base.html" %}

{% block content %}
<article>
    <header>
        <nav class="builds" aria-label="breadcrumb">
            <ul>
                <li><a href="{{ BASE_URL }}builds/">Builds</a></li>
                <li>7 Hero Beginner Build - Final Skill Set</li>
            </ul>
        </nav>
    </header>

    <h4>Introduction</h4>

    <p>This is the final skill set for the 7 Hero Beginner build. The original build can be found <a target="_blank"
            rel="noopener noreferrer" href="https://gwpvx.fandom.com/wiki/Build:Team_-_7_Hero_Beginner_Team">here</a>.
    </p>

    <h4>Build Overview</h4>

    {% with tc_data = decode_gw1_template("OAVTI2yaw5EgTNdDhcQVtKgGAA", "Master of Whispers") %}
    {% include "_template_code_card.html" %}
    {% endwith %}

    {% with tc_data = decode_gw1_template("OgVTI4xys5EgTNdTvcQGgIoBAA", "Vekk") %}
    {% include "_template_code_card.html" %}
    {% endwith %}

    {% with tc_data = decode_gw1_template("OQBTAUBPw5EgTNdTvcQGgIoBA", "Norgu") %}
    {% include "_template_code_card.html" %}
    {% endwith %}

    {% with tc_data = decode_gw1_template("OQhTAUBPw5EgTNdTvcQGoIcxAA", "Gwen") %}
    {% include "_template_code_card.html" %}
    {% endwith %}

    {% with tc_data = decode_gw1_template("OAhkQgG6hEyzdwOUVlmTuh548iB", "Olias") %}
    {% include "_template_code_card.html" %}
    {% endwith %}

    {% with tc_data = decode_gw1_template("OwUUMu2+U4RaENg1DBE3VTfbaZAA", "Tahlkora") %}
    {% include "_template_code_card.html" %}
    {% endwith %}

    {% with tc_data = decode_gw1_template("OwUUMu2+U4RaENg1DBE3VTfbaZAA", "Dunkoro") %}
    {% include "_template_code_card.html" %}
    {% endwith %}
</article>
{% endblock %}