{% set selected_tab = "builds" %}
{% extends "_base.html" %}

{% block content %}
<article>
    <header>
        <nav class="builds" aria-label="breadcrumb">
            <ul>
                <li><a href="{{ BASE_URL }}builds/">Builds</a></li>
                <li>Presearing - Devona Spirit Spammer</li>
            </ul>
        </nav>
    </header>

    <h4>Introduction</h4>

    <p>
        Turning Devona into a spirit spammer is great for presearing.
    </p>

    <p>
        We use our <a href="{{ BASE_URL }}builds/spirit_spammer/">Spirit Spammer</a> guide as a base. But in presearing
        we won't have access to Vampirism and Summon Spirits, because these skills are not unlocked account wide.
    </p>

    <p>
        Instead we replace those skills with:
    </p>

    <ul>
        <li>Flesh of My Flesh</li>
        <li>Splinter Weapon</li>
    </ul>

    <h4>Build Overview</h4>

    {% with tc_data = decode_gw1_template("OQgjAyhjIPVzv5ZrcixgmMzLGA", "Devona") %}
    {% include "_template_code_card.html" %}
    {% endwith %}

    <h4>Advanced Version</h4>

    <p>If you have unlocked signet of spirits, then Devona becomes even more powerful.</p>

    {% with tc_data = decode_gw1_template("OQgjAyhjIPVzr5ZrcixgmMzLGA", "Devona - Advanced") %}
    {% include "_template_code_card.html" %}
    {% endwith %}
</article>
{% endblock %}