:root {
    /* --pico-font-size: 100%; */
    /* --pico-line-height: 1.0; */
    --pico-grid-row-gap: 0;
}

body {
    background-image: url("/assets/images/bg1-sm.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

.title li {
    padding-bottom: 0;
}

.title h1 {
    color: black;
}

.nav a {
    font-size: 130%;
}

table.build {
    table-layout: fixed;
}

table.build td {
    vertical-align: top;
}

table.build img {
    width: 1.5rem;
}

p.hlist {
    margin-bottom: 0;
}