:root {
    /* --pico-font-size: 100%; */
    /* --pico-line-height: 1.0; */
    --pico-grid-row-gap: 0;
}

html {
    background-image: url("../images/bg1-sm.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.title li {
    padding-bottom: 0;
}

.title h1 {
    color: black;
}

nav.builds li {
    padding-top: 0;
    padding-bottom: 0;
}

table.build {
    table-layout: fixed;
}

table.build td {
    vertical-align: top;
}

table.build img {
    width: 1.5rem;
}

p.hlist {
    margin-bottom: 0;
}

a.copy-to-clipboard {
    margin-left: 0.5rem;
}

/*
 * template code card
 */
table.template_code_card {
    font-size: 0.9rem;
}

table.template_code_card h5,
p,
ul {
    margin-bottom: 0.6rem;
}

table.template_code_card img {
    width: 1.5rem;
}

table.template_code_card .skills {
    display: flex;
    justify-content: flex-start;
    gap: 0.3rem;
}

table.template_code_card a.skill img {
    width: 3rem;
    margin-bottom: 0.6rem;
}

.om-card {
    border: var(--pico-border-width) solid var(--pico-secondary-border);
    border-radius: var(--pico-border-radius);
}
